@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brown-light {
  background-color: #ede4db;
}

.brown-sub-color {
  color: #634c2e;
}

.brown-dark {
  color: #543115;
}

/* //////////////////////////////////////////// */
/* FONT FAMILY */
/* //////////////////////////////////////////// */
.tauri {
  font-family: "Tauri", sans-serif;
  font-style: normal;
}

.Dm-body {
  font-family: "DM Sans", sans-serif;
}

.nav-desktop {
  @media (max-width: 1024px) {
    display: none;
  }
}

.nav-mobile {
  display: none;

  @media (max-width: 1024px) {
    display: block;
  }
}

.logo {
  height: 4rem;
}

.logo-mobile {
  height: 3rem;
}

.Hero {
  background-image: url("./assets/Hero/HeroBackground.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* //////////////////////////////////////////// */
/* BUTTON STYLES */
/* //////////////////////////////////////////// */
.main-button {
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 28px;
}

.bg-brown {
  background-color: #543115;
}

.bg-light {
  background-color: #ffffff;
}

.bg-semilight {
  background-color: #fffcf9;
}

.bg-semibrown {
  background-color: #bdb6a1;
}

.btnLight:hover {
  background-color: #bdb6a1;
}

.btnDark:hover {
  background-color: #634c2e;
}

/* //////////////////////////////////////////// */
/* HOME SECTION 3 */
/* //////////////////////////////////////////// */
.section--learn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./assets/Home/learn.jpg");
}

/* //////////////////////////////////////////// */
/* HOME SECTION 4 */
/* //////////////////////////////////////////// */
.hero--section {
}

.bg-semidark {
  background-color: #ede4db;
}

/* //////////////////////////////////////////// */
/* HOME SECTION 5 */
/* //////////////////////////////////////////// */

.section--events {
  @media (max-width: 1023px) {
    background-image: url("./assets/Home/Events.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.section--sactuary {
  @media (max-width: 1023px) {
    background-image: url("./assets/Home/Sactuary.jpg");
    background-position: center center;
    background-repeat: no-repeat;
  }
}
